body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  min-width: 500px;
  max-width: 500px;
  max-height: 600px;
  background-color: black;
}
button {
  display: inline-block;
  color: white;
}
.button-container {
display: flex;
align-items: center;
}
.url-input-field {
  display: block;
  background-color: #292929;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  height: 20px;
  border-radius: 4px;
  text-indent: 10px;
}
.url-input-field.error{
  border: 2px solid #FF6347;
}
.set-item-btn,
.delete-item-btn {
  right: 10px;
  position: absolute;
  width: auto;
  height: auto;
  font-size: x-small;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  margin-top: 2.5px;
  background-color: transparent;
  color: white;
  z-index: 10;
}
.set-item-btn {
  right: 30px;
}
.action-button{
  margin-left: 20px;
  background: linear-gradient(to bottom right, #dc143c, #00008b);
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.action-save-button {
  margin-left: 0px; 
}
.tab-list-item{
  font-size: small;
  padding: 10px 0;
  position: relative;
  width: 95%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to bottom right, #dc143c, #00008b) ;
  border-image-slice: 1;
  cursor: pointer;
}
a,
.tab-list-container {
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100px;
  padding: 0px;
  margin-top: 10px;
  color: #888;
  text-decoration: none;
  list-style-type: none;
  line-height: 20px;
  max-height: 300px;
}
.animated-icon {
  margin-left: 20px;
  height: 20px;
  width: 20px;
}

@keyframes combinedAnimation {
  0%, 100% { transform: translateX(100%) rotateY(0) rotateX(0); opacity: 0; }
  10% { transform: translateX(0) rotateY(0) rotateX(0); opacity: 1; }
  25% { transform: translateX(0) rotateY(180deg); opacity: 1; }
  50% { transform: translateX(0) rotateY(180deg) rotateX(180deg); opacity: 1; }
  75% { transform: translateX(0) rotateY(0) rotateX(180deg); opacity: 1; }
  90%, 100% { transform: translateX(-100%) rotateY(0) rotateX(180deg); opacity: 0; }
}

.animated-icon {
  animation: combinedAnimation 7s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.pulse-icon {
  animation: pulse 2s infinite;
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar {
  width: 12px;
}

/* Customize the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Customize the scrollbar track when scrollbar is actively being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: #2c2c2c; 
}

/* Customize the scrollbar track when the scrollbar is in the "track" area (not on the thumb) */
::-webkit-scrollbar-track {
  background-color: #363636;
  border-radius: 10px;
}

/* Customize the scrollbar corner (when both horizontal and vertical scrollbars are present) */
::-webkit-scrollbar-corner {
  background-color: #f2f2f2; 
}
